@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: "Tajawal", Arial, sans-serif;
  background: rgb(250 250 249);
  color: rgb(28 25 23);
}

.input {
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid rgb(214 211 209);
  background: white;
  padding: 0.6rem 0.75rem;
}
